.about {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    /* Bigger text */
}

.about-title {
    text-align: left;
}

.about-text {
    text-align: left;
    margin-top: 20px;
}

.highlight {
    font-size: 1.2em;
    /* Bigger text */
    color: #00aaff;
    /* Change color */
    font-weight: bold;
    /* Optional: Make it bold */
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 20px;
}

.tab-button {
    background: none;
    border: 2px solid #00aaff;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.3s;
    border-radius: 5px;
}

.tab-button:hover,
.tab-button.active {
    background-color: #00aaff;
}

.tab-content {
    margin-top: 20px;
    text-align: center;
}

.experience-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.technologies-list {
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    /* Responsive grid */
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.experience-list li {
    background: #222;
    /* Darker background */
    color: white;
    padding: 15px;
    font-size: 20px;
    border-left: 6px solid #00aaff;
    /* Blue accent */
    width: 80%;
    /* Adjust width */
    text-align: left;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.technologies-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #222;
    color: black;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
}

.experience-list li:hover {
    transform: scale(1.05);
    /* Subtle hover effect */
}