.container {
    display: flex;
    height: 100vh;
    background-color: #181818;
}

.sidebar {
    width: 300px;
    background-color: #222;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #222;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.page-content {
    flex-grow: 1;
    padding: 20px;
    color: white;
}